elsarticle-template.synctex.gz
elsarticle-template.log
elsarticle-template.aux
._model1-num-names.bst
._model1a-num-names.bst
._model2-names.bst
._model3-num-names.bst
._model4-names.bst
._model5-names.bst
._model6-num-names.bst
._numcompress.sty
._elsarticle-num.bst
elsarticle-template.bbl
elsarticle-template.spl
PhD.bib.bak
PhD.bib.sav
._elsarticle-template.tex
._PhD.bib
indent.log
arara.log
